<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %} Hello world! {% endblock %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="{% static 'favicon.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  

</head>
<body>
  <header>
    <p class="logos"><a href="/">tengo</a></p> 
  </header> 
  <main>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="message message-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <div>
      <a href="#" class="anchors">About</a>  ◦  
      <a href="#" class="anchors">Terms</a>  ◦  
      <a href="#" class="anchors">Privacy</a>
    </div>
   <div>
    <p>&copy; 2025 Tengo</p>
   </div>    
  </footer>
  <script src="{% static 'app.js' %}"></script>
</body>
</html>