<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chunya</title>
</head>
<body>
    <h1>this is Chunya</h1>
    <form id="productForm" method="post">
        <input type="text" id="productDetails" name="productParticulars" placeholder="Enter product sku or url" required autofocus>
        <button type="submit">track it!</button>
    </form>
    <p>Examples:</p>
    <blockquote>
        SKU - NI534ST019V71NAFAMZ
    <br>    
        URL - https://www.jumia.co.ke/nivea-radiant-beauty-advanced-care-lotion-for-women-400ml-pack-of-2-94993120.html
    </blockquote>
    
</body>
</html>