{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="product_input" class="product-input" placeholder="Input Product URL or SKU" required autofocus>
    <button type="submit" class="submit-button">SUBMIT</button>
</form>
<p class="prod-intro">
    Save more on Jumia with <span class="logo-span">Tengo</span>. This free price tracker monitors products you love, 
    alerts you when prices drop, and shows you full price history so you never miss a deal.
</p>
{% endblock %}