html, body {
	scroll-behavior: smooth;
	background-color: #F5E5E1;
	color: black;
	margin: auto;
	width: 80%;
    font-family: 'Roboto', sans-serif;
	font-weight: 200;
	font-size: larger;
}

section {
	min-height: 100vh;
	padding-top: 2rem;
}

#thebox {
	color: #D50B8B;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
	padding-bottom: 1rem;
	padding-top: 1rem;
    z-index: 1000;

}

.navbar-link:link {
	text-decoration: none;
	color: black;
}

.navbar-link:hover{
	color: white;
	background-color: #D50B8B;
}

.box-link:link {
	text-decoration: none;
}

.inelement-link:link{
	text-decoration: none;
	background-color: lightgray;
}

.inelement-link:hover{
	text-decoration: none;
	color: antiquewhite;
	background-color: #D50B8B;
}


/* 
.about-me {
	background-color: #F9B487;
}
.my-skills {
	background-color: #427A76;
}
.my-projects {
	background-color: #174143;
} */